.main {
    display: flex;
    flex-direction: row;
    margin: 1em 0;
    gap: 2em;
    margin-top: 8em;
}

.gg-pin {
    box-sizing: border-box;
    position: relative;
    display: block;
    transform: rotate(45deg) scale(var(--ggs,1));
    width: 18px;
    height: 18px;
    border-radius: 100% 100% 0 100%;
    border: 2px solid;
    margin-top: -4px
}

.gg-pin::before {
    content: "";
    display: block;
    box-sizing: border-box;
    position: absolute;
    width: 8px;
    height: 8px;
    border: 2px solid;
    top: 3px;
    left: 3px;
    border-radius: 40px
}

.artistinfo {
    margin-right: 6em;
    /* background: rgb(232, 181, 186); */
    /* background: linear-gradient(90deg, rgba(232, 181, 186, 1) 0%, rgba(206, 117, 85, 1) 100%); */
    margin-left: 50px;
    width: 560px;
    height: 655px;
    /* background-color: rgb(255, 209, 214); */
    margin-top: 30px;


    /* margin-right: 6em; */
    /* margin-left: 50px; */
    /* width: 560px; */
    /* height: 655px; */
    /* margin-top: 30px; */
    background: linear-gradient(-45deg, #CD7454, #FFD1D6, #D99B59);
    /* background-size: 400% 400%; */
    animation: gradient 12s ease infinite;
}

.personaltt {
    width: 1250px;
    height: 350px;
    background-color: rgb(205, 116, 84);
    display: none;
}

.fulltt {
    width: 1250px;
    height: 350px;
    background-color: rgb(255, 209, 214);
    display: none;
}

.match {
    margin-right: 30px;
    font-size: 16px;
    font-family: 'Quicksand', sans-serif;
    color: #4B4E4A;
}

.artistname {
    margin-left: 40px;
    padding-top: 15px;
    margin-bottom: 0px;
    font-family: 'Sorts Mill Goudy', serif;
    color: #CD7454;
}

.artistgenre {
    margin-left: 40px;
    margin-top: 0px;
    font-family: 'Staatliches', cursive;
    color: #4B4E4A;
}

.artistdesc {
    text-align: center;
    font-size: 17px;
    font-family: 'Quicksand', sans-serif;
    color: #4B4E4A;
}

.details {
    font-size: 21px;
    font-family: 'Quicksand', sans-serif;
    color: white;
}

.topsection {
    height: 45px;
    text-align: center;
    margin-left: 10px;
}

.right {
    text-align: center;
    width: 50%;
    float: right;
}

.left {
    text-align: center;
    width: 50%;
    float: left;
}

.photo {
    height: 170px;
    background-image: url(../img/maxfrimout.jpg);
    background-repeat: no-repeat;
    background-position: right;
    /* background-color: rgb(232, 181, 186); */
    /* background-color: linear-gradient(270deg, rgba(232, 181, 186, 0.8799894957983193) 0%, rgba(254, 208, 213, 1) 94%); */
}

.otherartists {
    height: 170px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.otherartistpic {
    display: inline-block;
    text-align: center;
    font-family: 'Quicksand', sans-serif;
    color: #4B4E4A;
    font-size: 14px;
    font-weight: 600;
    margin-left: 45px;
}

.otherartistpics {
    height: 60px;
}

.oap {
    padding-top: 0px;
    margin-top: 5px;
}

.spotifytracks {
    width: 300px;
    height: 100px;
    text-align: center;
    align-items: center;
    justify-content: center;
    background-color: black;
}

.spotify {
    text-align: center;
    align-items: center;
    justify-content: center;
}

.content {
    display: flex;
    flex-direction: row;
}

.content {
    margin: 4%;
    margin-top: 130px;
}

.font1 {
    font-family: 'Sorts Mill Goudy', serif;
}

.font2 {
    font-family: 'Staatliches', cursive;
}

.venueFullTt {
    font-family: 'Quicksand', sans-serif;
    padding-left: 15px;
    padding-top: 0px;
    padding-bottom: 0px;
    margin: 0px 0px 0px 0px;
}

.day {
    color: #D99B59;
}

.grey {
    color: #4B4E4A;
}

table {
    margin-top: -3px;
}

.header {
    height: 100px;
    background-image: linear-gradient(to right, #4B4E4A, #CD7454);
    margin-top: -104px;
    width: 100%;
}

.headerfully {
    top: 0px;
    position: fixed;
    width: 100%;
    z-index: 10;
}

.headerLogo {
    height: 100px;
}

.headerNav {
    margin-left: 90px;
    display: inline-block;
    font-size: 13px;
    font-family: 'Quicksand', sans-serif;
}

.headerNavContent:hover {
    margin-left: 5px;
    padding-bottom: 17px;
    padding-top: 11px;
    padding-right: 30px;
    padding-left: 20px;
    background-color: rgba(255, 255, 255, 0.719);
    color: #4B4E4A;
}

.headerNavContent {
    margin-left: 5px;
    padding-bottom: 17px;
    padding-top: 11px;
    padding-right: 30px;
    padding-left: 20px;
}

.navFriday {
    margin-left: 5px;
    padding-bottom: 17px;
    padding-top: 11px;
    padding-right: 30px;
    padding-left: 20px;
    background-color: white;
}

.navSatSun {
    margin-left: 5px;
    padding-bottom: 17px;
    padding-top: 11px;
    padding-right: 30px;
    padding-left: 20px;
    color: white;
}

.headerTitle {
    margin-left: 290px;
    margin-top: 50px;
    color: white;
    font-size: xx-large;
    display: inline-block;
    font-family: 'Sorts Mill Goudy', serif;
}

.borderDotted {
    border-right: 2px dotted #4B4E4A;
}

.borderSolid {
    border-right: 2px solid #4B4E4A;
}

.h180 {
    height: 180px;
}

.tijdenTt {
    height: 20px;
    font-size: 10px;
    font-family: 'Quicksand', sans-serif;
    color: #4B4E4A;
}

.zesuur {
    padding-left: 140px;
}

.h1w50 {
    height: 1px;
    width: 48px;
}

.perKwartier {
    height: 41px;
    width: 23px;
    border-right: 1px solid black;
}

.eersteKwartier {
    height: 31px;
    width: 148px;
    border-right: 2px solid black;
}

.bgWhite {
    background-color: white;
}

.bgOranjeHtc {
    background-color: #CD7454;
}

.bgRozeHtc {
    background-color: #FFD1D6;
}

.fullTt {
    margin-top: 45px;
}

.blokArtistPersonal {
    display: none;
    background-color: white;
    height: 160px;
    position: absolute;
    border: 1px solid #4B4E4A;
    font-size: 12px;
}

.blokArtistFull {
    background-color: #EDE5DF;
    border: 1px solid #A3A3A3;
    height: 32px;
    position: absolute;
    font-family: 'Quicksand', sans-serif;
    font-size: 10px;
    text-align: center;
    padding-left: 2px;
    padding-right: 2px;
}

/* #blokArtist1Personal {
    z-index: 10;
} */

/* #blokArtist1Full {
    visibility: visible;
}

#blokArtist2Personal {
    visibility: visible;
}

#blokArtist2Full {
    visibility: visible;
} */

.placeholder1 {
    height: 30px;
    margin: 10px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
}

.bloktekst {
    padding-top: 10px;
    padding-bottom: 10px;
    font-family: 'Quicksand', sans-serif;
    text-align: center;
}

.bloktekstGenre {
    margin-bottom: 0px;
    width: 100%;
    bottom: 0px;
    position: absolute;
    border-top: 1px solid #4b4e4a3f;
}

.onzichtbaarLogin {
    display: none;
}

.overlayCSS {
    background-color: rgb(255, 255, 255);
    opacity: 95%;
    position: absolute;
}

.overlayTimetable {
    height: 160px;
    width: 598px;
    margin-left: 151px;
    margin-top: 35px;
    border: solid 1px #4B4E4A;
}

.overlayArtistinfo {
    height: 80px;
    width: 435px;
    padding-bottom: 7px;
    margin-left: 70px;
    margin-top: -7px;
    padding-top: 0px;
}

.contentOverlay {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #4B4E4A;
}

.loginButton {
    background-image: linear-gradient(to right, #D99B59, #CD7454);
    color: white;
    border-radius: 32px;
    border: none;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    font-family: 'Staatliches', cursive;
}

.loginText {
    text-align: center;
    font-family: 'Quicksand', sans-serif;
    color: #4B4E4A;
}

.questionmark {
    border-radius: 50%;
    background-color: white;
    border: 1px solid #4B4E4A;
}

.loginTextAi {
    font-size: 12px;
    margin-bottom: -10px;
    margin-top: 0px;
}

.questionmarkAi {
    margin-top: -13px;
    margin-left: 410px;
    position: absolute;
    font-size: 12px;
    padding-left: 5px;
    padding-right: 5px;
}

.loginbuttonLogoAi {
    width: 14px;
    padding-left: 8px;
    padding-right: 15px;
    margin-top: 3px;
}

.loginButtonAi {
    padding-top: 4px;
    padding-bottom: 4px;
    font-size: 17px;
    padding-right: 35px;
}

.loginButtonTt {
    padding-top: 11px;
    padding-bottom: 8px;
    font-size: 22px;
    padding-right: 60px;
}

.loginTextTt {
    font-size: 18px;
    margin-bottom: 0px;
}

.questionmarkTt {
    float: right;
    margin-top: -12px;
    margin-right: 10px;
}

.loginbuttonLogoTt {
    width: 21px;
    padding-left: 10px;
    padding-right: 25px;
}

.artistinfo2 {
    margin-right: 6em;
    margin-left: 50px;
    width: 560px;
    height: 655px;
    margin-top: 30px;
    background: linear-gradient(-45deg, #CD7454, #FFD1D6, #D99B59);
    background-size: 400% 400%;
    animation: gradient 12s ease infinite;
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}



 .artistinfo2 {
    margin-right: 6em;
    margin-left: 50px;
    width: 560px;
    height: 655px;
    margin-top: 30px;
    background: linear-gradient(-45deg, #CD7454, #FFD1D6, #D99B59);
    background-size: 400% 400%;
    animation: gradient 5s ease infinite;
} 



/* .photo2 {
    height: 170px;
    background-image: url("../img/maxfrimout.jpg");
    background-repeat: no-repeat;
    background-position: right;
    -webkit-mask-image: -webkit-gradient(linear, left top, right top, from(rgba(0, 0, 0, 1)), to(rgba(0, 0, 0, 0)))
} */

html {
    scroll-behavior: smooth;
}

.inline {
    display: inline-block;
}

.grey {
    text-decoration: none;
}

.blokArtistPersonal:hover {
    box-shadow: 1px 0px 5px 2px #7D80DA;
    transform: scale(1.02);
}

.blokArtistFull:hover {
    box-shadow: 1px 0px 5px 2px #7D80DA;
    transform: scale(1.02);
}