.main{
    display: flex;
    flex-direction: row;
    margin: 1em 0;
    gap: 2em;
    margin-top: 8em;
}

.gg-pin {
    box-sizing: border-box;
    position: relative;
    display: block;
    transform: rotate(45deg) scale(var(--ggs,1));
    width: 18px;
    height: 18px;
    border-radius: 100% 100% 0 100%;
    border: 2px solid;
    margin-top: -4px
}
.gg-pin::before {
    content: "";
    display: block;
    box-sizing: border-box;
    position: absolute;
    width: 8px;
    height: 8px;
    border: 2px solid;
    top: 3px;
    left: 3px;
    border-radius: 40px
}

.timetables{
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 1em;
    margin-left: 6em;
    padding-right: 1em;
    text-align: justify;
  }

.artistinfo{
    width: 65%;
    margin-right: 6em;
    background: rgb(232,181,186);
background: linear-gradient(90deg, rgba(232,181,186,1) 0%, rgba(206,117,85,1) 100%);
}

.personaltt{
    width:1250px;
    height:350px;
    background-color: rgb(205, 116, 84);
    display: none;
}

.fulltt{
    width:1250px;
    height: 350px;
    background-color: rgb(255, 209, 214);
    display: none;
}

.artistinfo{
width: 570px;
height: 820px;
background-color: rgb(255, 209, 214);
}

/* .match{
    text-align: right;
    margin-right: 15px;
} */

.topsection{
    height: 100px;
    text-align: center;
}

.right {
    text-align: center;
    width: 50%;
    float: right;

}
.left {
    text-align: center;
    width: 50%;
    float: left;
}

.photo {
    height: 200px;
    background-image:url(../img/maxfrimout.jpg);
    background-repeat: no-repeat;
    background-position: right;
    background-color: rgb(232,181,186);
    background-color: linear-gradient(270deg, rgba(232,181,186,0.8799894957983193) 0%, rgba(254,208,213,1) 94%);

}

.otherartists{
height: 180px;
}
.otherartistpic{
    background:url(../img/angolsen.jpg) center no-repeat;
    height: 80px;
    width: 32%;
    display: inline-block;
    text-align: center;
}

.spotifytracks {
    width: 300px;
    height: 100px;
    text-align: center;
    align-items: center;
    justify-content: center;
    background-color: black;
}

.spotify {
    text-align: center;
    align-items: center;
    justify-content: center;
}